body {
  background-color: #E9DAC1;
}

hr {
  background-color: none;
  border-style: dotted none none;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: #256D85;
}

h1 {
  color: #256D85;
}
